@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: Romanica, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
}

body {
  @apply m-0 p-0 text-white text-xl bg-black  3xl:text-[300%]  4xl:text-[350%];
}

/*
REUSABLES
*/

a:link,
a:visited {
  @apply rounded-xl border-4 divide-solid border-[#b60606] no-underline px-5 py-3 box-border text-center block text-white;
}
a:hover,
a:active {
  @apply bg-[#b60606] border-4 divide-solid border-[#b60606]  transition delay-75;
}
a:hover i,
a:active i {
  @apply text-white transition delay-75;
}

i {
  @apply text-[#b60606];
}

/*
NAVIGATION BAR
*/

.navbar {
  @apply bg-black w-[100vw] h-[60px] flex items-center justify-start z-[2000] fixed top-0 4xl:h-[200px];
}
.navbar .logo {
  @apply h-[55px] w-[55px] mr-2 flex items-center justify-center 4xl:h-[195px] 4xl:w-[195px];
}
/* .navbar .logo img {
  max-height: 100%;
  max-width: 100%;
} */

/*
HEADER
*/

header {
  @apply mt-14 relative h-[100vh] w-[100vw] overflow-hidden;
}

header .background-items {
  @apply grid grid-cols-[47.5%]   gap-[5%] p-[5%] h-[100%] w-[100%] box-border absolute top-0 left-0 z-10;
}

header .background-items .left-column {
  @apply h-[100%] w-[100%] sm:pt-[60%] sm:box-border;
}
/* header .background-items .left-column img {
  max-height: 100%;
  max-width: 100%;
} */
header .background-items .right-column {
  @apply bg-[#b60606] sm:pt-[60%] sm:box-border;
}
header .background-items .headerbg {
  @apply absolute top-0 left-[50%] -translate-x-[-50%] h-[80%] z-10;
}

header .text-container {
  @apply h-[100%] w-[100%] absolute z-20 flex flex-col items-center justify-end pb-[5%] box-border;
}

header .text-container .header-contact-buttons {
  @apply w-[90%]  pb-5 box-border;
}
header .header-contact-buttons:hover .icons,
header .header-contact-buttons:active .icons {
  @apply text-white transition delay-75;
}
header .text-container .header-contact-buttons a {
  @apply mt-5 mr-2;
}
/* header .text-container .header-contact-buttons a:last-child {
  @apply mr-0;
} */

header .text-container .bottom-container {
  @apply bg-[#2e0000e6] flex flex-col items-center justify-end w-[90%] 4xl:pt-[2.5] 4xl:pb-[2.5];
}

header .text-container .categories {
  @apply flex flex-col list-none items-center mt-5;
}
header .text-container .categories li {
  @apply tracking-tighter font-bold sm:tracking-wider md:text-[80%];
}

header .text-container .motto {
  @apply p-[5%] box-border  font-light italic text-center flex items-center justify-center sm:text-[175%] md:text-[150%] lg:text-[200%];
}

/*
Section Header Description
*/

section.header-description {
  @apply border-4 border-dashed border-[#b60606] px-[0%] py-[5%] box-border text-center md:p-[5%] lg:!px-[20%] lg:!py-[5%];
}

/*
Section Updates List
*/
section.update-template-1 {
  @apply mt-[7%] w-[100vw] relative h-auto;
}

/* section.update-template-1 img {
  max-height: 100%;
  max-width: 100%;
} */

section.update-template-1 .decoration-container {
  @apply w-[100%] h-[500px] relative 4xl:h-[1000px];
}

section.update-template-1 .decoration-container .decorationbox1,
section.update-template-1 .decoration-container .decorationbox3 {
  @apply absolute z-10 flex items-center justify-center h-[300px] w-[300px] 4xl:h-[600px] 4xl:w-[600px];
}

section.update-template-1 .decoration-container .decorationbox1 {
  @apply top-0 left-3 sm:left-0 md:left-[20%] lg:!left-[30%] 2xl:!ml-[5%];
}
section.update-template-1 .decoration-container .decorationbox3 {
  @apply bottom-0 right-3 sm:right-0 md:right-[20%] lg:!right-[30%] 2xl:!mr-[5%];
}

section.update-template-1 .decoration-container .decorationbox2 {
  @apply bg-[#b60606] h-[300px] w-[100%] absolute top-24 4xl:top-[250px] 4xl:h-[550px];
}

section.update-template-1 .text-container {
  @apply bg-[#2e0000e6] border-t-4 border-[#fd831f] border-b-4 border-dashed px-[10%] 
  py-[20%] box-border flex flex-col items-center justify-center text-center mt-5 sm:pb-[10%] md:pt-[5%] md:pb-[5%];
}

section.update-template-1 .text-container .title {
  @apply font-bold text-[195%] leading-[3.5rem];
}
section.update-template-1 .text-container .subtitle {
  @apply font-bold text-[150%] my-5 mx-0 text-[#F0831F] leading-10;
}
section.update-template-1 .text-container .store-button {
  @apply mt-[20px];
}

section.update-template-2 {
  @apply bg-birds;
}

section.update-template-2 .decorationbox1 {
  @apply bg-primary h-[250px] w-[90%] mx-auto my-auto;
}
section.update-template-2 .decorationbox2 {
  @apply h-[300px] w-[100%] -mt-[50%] mr-auto mb-0 ml-auto flex items-center justify-center sm:-mt-[35%] md:-mt-[20%] lg:-mt-[15%] 2xl:-mt-[10%] 3xl:-mt-[5%] 3xl:h-[600px] 3xl:w-[600px] 5xl:-mt-[2.5%];
}
/* section.update-template-2 .decorationbox2 {
  @apply h-[300px] w-[100%] -mt-[50%] mr-auto mb-0 ml-auto flex items-center justify-center sm:-mt-[35%] md:-mt-[20%] lg:-mt-[20%] 2xl:-mt-[10%] 3xl:-mt-[5%] 3xl:h-[600px] 3xl:w-[600px] 5xl:-mt-[2.5%];
} */
/* section.update-template-2 .decorationbox2 img {
  max-height: 100%;
  max-width: 100%;
} */
section.update-template-2 .text-container {
  @apply bg-[#2e0000e6] pt-[5%] px-[5%] pb-[25%] box-border text-center sm:pb-[20%] md:pb-[10%] xl:pb-[5%];
}
section.update-template-2 .text-container .title {
  @apply font-bold text-[200%] my-5 leading-[3.5rem];
}

/*
Footer
*/

/* footer {
  padding: 15% 5% 5% 5%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

footer .contactcontent {
  @apply w-full md:w-[30%] my-2;
}

footer .contactcontent:hover .name,
footer .contactcontent:active .name {
  @apply text-white transition delay-75;
}

footer .contactcontent .name {
  @apply text-primary;
}
footer .contactcontent:last-child {
  @apply mb-0;
}

footer .footer-description {
  @apply text-center rounded-lg border-[6px] border-dashed border-primary p-2 w-full;
}

/*
Exceptions
*/

.redbottomborder {
  @apply border-b-4 border-primary border-dashed;
}

.orangebottomborder {
  @apply border-b-4 border-[#fd831f] border-dashed;
}
.orangebox {
  @apply !bg-orange;
}
.orangebirds {
  @apply !bg-birdsOrange;
}

.magentabottomborder {
  @apply border-b-4 border-[#c90046] border-dashed;
}
.magentabox {
  @apply !bg-[#c90046];
}
.magentabirds {
  @apply !bg-birdsMagenta;
}

.bluebottomborder {
  @apply border-b-4 border-[#2192ff] border-dashed;
}
.bluebox {
  @apply !bg-[#2192ff];
}
.bluebirds {
  @apply !bg-birdsBlue;
}
